button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.count{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: blue;
    font-weight: bold;
    margin-left: 2%;
}  